
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --color-bd: #0713c2;
    --color-bg: rgba(180, 58, 10, 0.959);
    --color-bg-variant: #05053a;
    --color-primary: hsla(138, 66%, 29%, 0.986);
    --color-primary-variant: #66f872cb;
    --color-secondary: yellow;
    --color-white: #fff;
    --color-light: #2e2d2d;

    --transition: all 700ms ease;

    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-ms: 90%;
}
/* 
html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
} */

body {
    font-family: 'Poppins', sans-serif;
    background: var(--color-white);
    color: var(--color-bg-variant);
    line-height: 1.7;
    margin: 0;
    /* height: 100px; */
    
}

.container {
    width: var(--container-width-lg);
    margin-inline: auto;
    max-width: 1920px;
}

h1, h3, h4, h5 {
    line-height: 1.2;
    font-weight: 500;
    color: var(--color-bd);
}


h1, h3 {
    font-size: 2rem;
}
h2 {
    font-size: 1.2rem;
    color: var(--color-bg);
}
a {
    color: black;
    font-size: 1rem;
    font-weight: 500;
}

img {
    display: block;
    width: 100%;
}
.badge {
    width: 120px;
    padding: 2px;
    /* border: solid black; */
    border-radius: 48px;
}
.btn.lg {
    padding: 1rem;
    border-radius: 2rem;
    font-size: 1.2rem;
} 
.btn.sm {
    padding: 0.4rem 1.2rem;
    font-size: 0.8rem;
}
.btn.sm:hover {
    background: var(--color-bg);
}



section {
    margin-top: 10rem;
}

.section-head {
    display: flex;
    align-items: center;
    gap: 1rem;
    align-self: center;
}
.section-head span {
    padding: 0 0.8rem;
    color: var(--color-bg);
    font-size: 1.2rem;
    align-items: center;
}


.card {
    background: var(--color-primary-variant);
    border: 2px solid transparent;
    text-align: center;
    padding: 3rem 2rem;
    border-radius: 0 3rem 0 3rem;
    transition: var(--transition);
}
.card:hover {
    background: transparent;
    border-radius: var(--color-bg-variant);
    cursor: default;
}

.card span {
    width: 2rem;
    height: 2rem;
    background-color: var(--color-primary);
    color: var(--color-bg);
    font-size: 1.2rem;
    padding: 0.6rem;
    display: flex;
    margin-bottom: 1rem;
    margin-inline: auto;
    border-radius: 0.8rem;
    place-items: center;
    transition: var(--transition);
}
.card:hover span {
    background: var(--color-secondary);
}



.header {
    margin-top: 4rem;
    height: 20rem;
    overflow: hidden;
    border-bottom: 2px solid var(--color-light);
}
.header-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    place-items: center;
    background: black;
}
.header-container-bg {
    position: absolute;
    width: 100%;
}
.header-container-bg img {
    opacity: 0.3;
}
.header-content {
    position: relative;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    color: var(--color-white);
}
.header-content h2 {
    margin-bottom: 1rem;
    color: #fff;
}
.header-content p {
    color: rgba(255,255,255,0.75);
}

/* Media Queries */

@media  screen and (max-width: 1024px){
    .container {
        width: var(--container-width-md);
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.2rem;
    }
    .header-content {
        width: 70%;
    }
}

    @media  screen and (max-width: 600px){
       
        h1 {
            font-size: 1.6rem;
            line-height: 1rem;
        }
        section {
            margin-top: 6rem;
        }
        .header {
            height: fit-content;
        }
        .header-content {
            width: var(--container-width-md);
            padding: 3rem 0;
        }
        .header-content p {
            font-size: 0.7rem;
        }
}
